#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.task-item {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.item-gold {
    background-color: yellow;
    color: black;
    border-radius: 0.5rem;
}
